body{
background-color: black;

}
h1{
    color: rgb(0, 0, 0);
    margin-left: 15px ;
}
.mae{
 display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;

}
.container{
    display: flex;
    justify-content: center;
    background-color: darkmagenta;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height:250px ;
    border-radius: 10%;

}
input{
background-color: black;
color: darkmagenta;
border-radius: 20%;
width: 100px;
height: 40px;
}